<div class="col-md-9">

  <table class="table" id="employee-component">
    <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Job title</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let employee of employees">
      <td>
        <a>
          {{employee?.name}}
        </a>
      </td>
      <td>
        <a>
          {{employee?.phone}}
        </a>
      </td>
      <td>
        <a href="{{employee?.email}}">
          {{employee.email}}
        </a>
      </td>
      <td>
        <a>
          {{employee?.jobTitle}}
        </a>
      </td>

      <td>
        <a (click)="onOpenModal(employee, 'edit')" class="btn btn-sm btn-primary my-1 my-sm-0">
          <span class="fas fa-edit mr-1"></span>
          Edit</a>
        <a (click)="onOpenModal(employee, 'delete')" class="btn btn-sm btn-danger my-1 my-sm-0">
          <span class="fas fa-trash mr-1"></span>
          Delete</a>
      </td>
    </tr>


    </tbody>
  </table>

</div>
